mat-toolbar {
    width: auto;
    margin-right: -24px;
    margin-left: -24px;

    .title-section {
        flex: 1 1 auto;
    }

    .btn-dialog-close {
        width: 45px;
        min-width: 0px !important;
        height: 40px;
        padding: 0px !important;
    }
}

.mat-dialog-actions {
    margin-right: 0 !important;
    margin-left: 0 !important;

    button {
        display: inline-block;
        width: 48.4%;

        &:last-child {
            margin-left: 3%;
        }
    }
}